<a href="https://colab.research.google.com/github/mdrinkard/Project-2/blob/main/SBA_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Installing Required Modules on Google
!pip install hvplot
!pip install tensorflow
!pip install pandas

Collecting hvplot
  Downloading hvplot-0.9.1-py2.py3-none-any.whl (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 8.1 MB/s eta 0:00:00
Requirement already satisfied: bokeh>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from hvplot) (3.3.3)
Requirement already satisfied: colorcet>=2 in /usr/local/lib/python3.10/dist-packages (from hvplot) (3.0.1)
Requirement already satisfied: holoviews>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from hvplot) (1.17.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from hvplot) (1.5.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.10/dist-packages (from hvplot) (1.23.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from hvplot) (23.2)
Requirement already satisfied: panel>=0.11.0 in /usr/local/lib/python3.10/dist-packages (from hvplot) (1.3.6)
Requirement already satisfied: param<3.0,>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from hvplot) (2.0.1)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (3.1.3)
Requirement already satisfied: contourpy>=1 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (1.2.0)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (9.4.0)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (6.0.1)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (6.3.2)
Requirement already satisfied: xyzservices>=2021.09.1 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (2023.10.1)
Requirement already satisfied: pyct>=0.4.4 in /usr/local/lib/python3.10/dist-packages (from colorcet>=2->hvplot) (0.5.0)
Requirement already satisfied: pyviz-comms>=0.7.4 in /usr/local/lib/python3.10/dist-packages (from holoviews>=1.11.0->hvplot) (3.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->hvplot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->hvplot) (2023.3.post1)
Requirement already satisfied: markdown in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (3.5.2)
Requirement already satisfied: markdown-it-py in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (3.0.0)
Requirement already satisfied: linkify-it-py in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (2.0.2)
Requirement already satisfied: mdit-py-plugins in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (0.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (2.31.0)
Requirement already satisfied: tqdm>=4.48.0 in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (4.66.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (6.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (4.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=2.9->bokeh>=1.0.0->hvplot) (2.1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->hvplot) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->panel>=0.11.0->hvplot) (0.5.1)
Requirement already satisfied: uc-micro-py in /usr/local/lib/python3.10/dist-packages (from linkify-it-py->panel>=0.11.0->hvplot) (1.0.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py->panel>=0.11.0->hvplot) (0.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=0.11.0->hvplot) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=0.11.0->hvplot) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=0.11.0->hvplot) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=0.11.0->hvplot) (2023.11.17)
Installing collected packages: hvplot
Successfully installed hvplot-0.9.1
Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.15.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.5.26)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.9.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.6)
Requirement already satisfied: ml-dtypes~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.23.5)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.35.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.60.0)
Requirement already satisfied: tensorboard<2.16,>=2.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.15.1)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.15.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.15.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.42.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (1.2.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (3.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (3.0.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (2023.11.17)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow) (3.2.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
### Importing those Modules
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [ ]:
### Uploading Dataset
from google.colab import files
uploaded = files.upload()
file_name = list(uploaded.keys())[0]

Saving SBAnational.csv to SBAnational.csv

In [ ]:
### Creating Dataframe
df = pd.read_csv('SBAnational.csv')
df

<ipython-input-276-bbed2cf386de>:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SBAnational.csv')

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899159,9995573004,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,27-Feb-97,1997,...,0,N,NaN,30-Sep-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,27-Feb-97,1997,...,Y,N,NaN,31-Oct-97,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"
899161,9995613003,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,27-Feb-97,1997,...,N,N,NaN,30-Sep-97,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$225,000.00"
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,...,N,Y,8-Mar-00,31-Mar-97,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,...,N,N,NaN,31-May-97,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"

In [ ]:
dict_info ={
    'Variable Name':'Description',
    'LoanNr_ChkDgt':	'Identifier Primary key',
    'Name': 'Borrower name',
    'City':'Borrower city',
    'State': 'Borrower state',
    'Zip': 'Borrower zip code',
'Bank' : 'Bank name',
'BankState':	'Bank state',
'NAICS' :'North American industry classification system code',
'ApprovalDate':'Date SBA commitment issued',
'ApprovalFY': 'Fiscal year of commitment',
'Term': 'Loan term in months',
'NoEmp' :	'Number of business employees',
'NewExist': '1 = Existing business, 2 = New business',
'CreateJob':	'Number of jobs created',
'RetainedJob' :	'Number of jobs retained',
'FranchiseCode': 'Franchise code, (00000 or 00001) = No franchise',
'UrbanRural' :	'1 = Urban, 2 = rural, 0 = undefined',
'RevLineCr':	'Revolving line of credit: Y = Yes, N = No',
'LowDoc':	'LowDoc Loan Program: Y = Yes, N = No',
'ChgOffDate': 'The date when a loan is declared to be in default',
'DisbursementDate' : 	'Disbursement date',
'DisbursementGross' :	'Amount disbursed',
'BalanceGross' : 'Gross amount outstanding',
'MIS_Status' : 'Loan status charged off = CHGOFF, Paid in full =PIF',
'ChgOffPrinGr':	'Charged-off amount',
'GrAppv':	'Gross amount of loan approved by bank',
'SBA_Appv': 'SBA’s guaranteed amount of approved loan'
}

In [ ]:
### Defining a Function to report the qualities of each of the columns of the dataframe
def report(df):
    col = []
    d_type = []
    uniques = []
    n_uniques = []
    nan = []

    for i in df.columns:
        col.append(i)
        d_type.append(df[i].dtypes)
        uniques.append(df[i].unique()[:5])
        n_uniques.append(df[i].nunique())
        nan.append(df[i].isna().sum()/len(df)*100)

    return pd.DataFrame({'Column': col, 'd_type': d_type, 'unique_sample': uniques, 'n_uniques': n_uniques, 'nan%': nan})

report(df)

,Column,d_type,unique_sample,n_uniques,nan%
0,LoanNr_ChkDgt,int64,"[1000014003, 1000024006, 1000034009, 100004400...",899164,0.000000
1,Name,object,"[ABC HOBBYCRAFT, LANDMARK BAR & GRILLE (THE), ...",779583,0.001557
2,City,object,"[EVANSVILLE, NEW PARIS, BLOOMINGTON, BROKEN AR...",32581,0.003336
3,State,object,"[IN, OK, FL, CT, NJ]",51,0.001557
4,Zip,int64,"[47711, 46526, 47401, 74012, 32801]",33611,0.000000
5,Bank,object,"[FIFTH THIRD BANK, 1ST SOURCE BANK, GRANT COUN...",5802,0.173383
6,BankState,object,"[OH, IN, OK, FL, DE]",56,0.174162
7,NAICS,int64,"[451120, 722410, 621210, 0, 332721]",1312,0.000000
8,ApprovalDate,object,"[28-Feb-97, 2-Jun-80, 7-Feb-06, 11-Jun-80, 4-O...",9859,0.000000
9,ApprovalFY,object,"[1997, 1980, 2006, 1998, 1999]",70,0.000000
10,Term,int64,"[84, 60, 180, 240, 120]",412,0.000000
11,NoEmp,int64,"[4, 2, 7, 14, 19]",599,0.000000
12,NewExist,float64,"[2.0, 1.0, 0.0, nan]",3,0.015125
13,CreateJob,int64,"[0, 7, 30, 5, 4]",246,0.000000
14,RetainedJob,int64,"[0, 7, 23, 4, 6]",358,0.000000
15,FranchiseCode,int64,"[1, 0, 15100, 19755, 10656]",2768,0.000000
16,UrbanRural,int64,"[0, 1, 2]",3,0.000000
17,RevLineCr,object,"[N, 0, Y, T, nan]",18,0.503579
18,LowDoc,object,"[Y, N, C, 1, nan]",8,0.287156
19,ChgOffDate,object,"[nan, 24-Jun-91, 18-Apr-02, 4-Oct-89, 26-Jun-14]",6448,81.905526
20,DisbursementDate,object,"[28-Feb-99, 31-May-97, 31-Dec-97, 30-Jun-97, 1...",8472,0.263356
21,DisbursementGross,object,"[$60,000.00 , $40,000.00 , $287,000.00 , $35,0...",118859,0.000000
22,BalanceGross,object,"[$0.00 , $12,750.00 , $827,875.00 , $25,000.00...",15,0.000000
23,MIS_Status,object,"[P I F, CHGOFF, nan]",2,0.222095
24,ChgOffPrinGr,object,"[$0.00 , $208,959.00 , $14,084.00 , $44,374.00...",83165,0.000000
25,GrAppv,object,"[$60,000.00 , $40,000.00 , $287,000.00 , $35,0...",22128,0.000000
26,SBA_Appv,object,"[$48,000.00 , $32,000.00 , $215,250.00 , $28,0...",38326,0.000000

In [ ]:
### Deciding what columns to drop
### We are trying to predict whether or not to give a business a Loan
### Relevant colunmns are MIS_Status, Lowdoc, RevLinecr, UrbanRural, Franchise Code, Retained Job, Create_job, NewExist, NoEmp, Term, NAICS, BankState, City, State. all others we will drop.
dict_info

{'Variable Name': 'Description',
 'LoanNr_ChkDgt': 'Identifier Primary key',
 'Name': 'Borrower name',
 'City': 'Borrower city',
 'State': 'Borrower state',
 'Zip': 'Borrower zip code',
 'Bank': 'Bank name',
 'BankState': 'Bank state',
 'NAICS': 'North American industry classification system code',
 'ApprovalDate': 'Date SBA commitment issued',
 'ApprovalFY': 'Fiscal year of commitment',
 'Term': 'Loan term in months',
 'NoEmp': 'Number of business employees',
 'NewExist': '1 = Existing business, 2 = New business',
 'CreateJob': 'Number of jobs created',
 'RetainedJob': 'Number of jobs retained',
 'FranchiseCode': 'Franchise code, (00000 or 00001) = No franchise',
 'UrbanRural': '1 = Urban, 2 = rural, 0 = undefined',
 'RevLineCr': 'Revolving line of credit: Y = Yes, N = No',
 'LowDoc': 'LowDoc Loan Program: Y = Yes, N = No',
 'ChgOffDate': 'The date when a loan is declared to be in default',
 'DisbursementDate': 'Disbursement date',
 'DisbursementGross': 'Amount disbursed',
 'BalanceGross': 'Gross amount outstanding',
 'MIS_Status': 'Loan status charged off = CHGOFF, Paid in full =PIF',
 'ChgOffPrinGr': 'Charged-off amount',
 'GrAppv': 'Gross amount of loan approved by bank',
 'SBA_Appv': 'SBA’s guaranteed amount of approved loan'}

In [ ]:
### These Columns do not add much to the model or will leak data to the neural network algorithm and so I am dropping.
columns_to_drop = ['LoanNr_ChkDgt', 'Name', 'Zip','ApprovalDate','ApprovalFY','ChgOffDate','DisbursementDate','DisbursementGross','GrAppv','SBA_Appv','ChgOffPrinGr','BalanceGross']
df_adjusted = df.copy()
df_adjusted

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899159,9995573004,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,27-Feb-97,1997,...,0,N,NaN,30-Sep-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,27-Feb-97,1997,...,Y,N,NaN,31-Oct-97,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"
899161,9995613003,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,27-Feb-97,1997,...,N,N,NaN,30-Sep-97,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$225,000.00"
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,...,N,Y,8-Mar-00,31-Mar-97,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,...,N,N,NaN,31-May-97,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"

In [ ]:
df_adjusted = df_adjusted.drop(columns=columns_to_drop)
df_adjusted

,City,State,Bank,BankState,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,MIS_Status
0,EVANSVILLE,IN,FIFTH THIRD BANK,OH,451120,84,4,2.0,0,0,1,0,N,Y,P I F
1,NEW PARIS,IN,1ST SOURCE BANK,IN,722410,60,2,2.0,0,0,1,0,N,Y,P I F
2,BLOOMINGTON,IN,GRANT COUNTY STATE BANK,IN,621210,180,7,1.0,0,0,1,0,N,N,P I F
3,BROKEN ARROW,OK,1ST NATL BK & TR CO OF BROKEN,OK,0,60,2,1.0,0,0,1,0,N,Y,P I F
4,ORLANDO,FL,FLORIDA BUS. DEVEL CORP,FL,0,240,14,1.0,7,7,1,0,N,N,P I F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899159,UPPER ARLINGTON,OH,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,60,6,1.0,0,0,1,0,0,N,P I F
899160,COLUMBUS,OH,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,60,6,1.0,0,0,1,0,Y,N,P I F
899161,SANTA MARIA,CA,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,108,26,1.0,0,0,1,0,N,N,P I F
899162,HONOLULU,HI,BANK OF HAWAII,HI,0,60,6,1.0,0,0,1,0,N,Y,CHGOFF
899163,KAILUA,HI,CENTRAL PACIFIC BANK,HI,0,48,1,2.0,0,0,1,0,N,N,P I F

In [ ]:
### We have dropped the irrelavant columns and now we will adjust the following columns to allow the Neural Network to function.
### First Column to work on will be the MIS_Status, this column shows whether or not the business defaulted on the Loan and will function as the Y column for the model.
df_adjusted = df_adjusted.dropna(subset='MIS_Status')
df_adjusted['MIS_Status'].value_counts(dropna=False)

P I F     739609
CHGOFF    157558
Name: MIS_Status, dtype: int64

In [ ]:
### Currently 2 Variables in the MIS_Status columns P I F and CHGOFF meaning paid or default. Changing it to an integer 0 and 1.
df_adjusted['MIS_Status'] = np.where(df_adjusted['MIS_Status']== 'P I F',0,1)

<ipython-input-284-717347652993>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adjusted['MIS_Status'] = np.where(df_adjusted['MIS_Status']== 'P I F',0,1)

In [ ]:
df_adjusted['MIS_Status'].value_counts()

0    739609
1    157558
Name: MIS_Status, dtype: int64

In [ ]:
### Working on the NAICS Column now. This indicates industry, however, i'd like to assign each id to the actual sector of industry it is located in.
### Establishing a dictionary to act as a guide
naics_to_sector = {
    '0' : 'Unknown Sector',
    '11': 'Agriculture, Forestry, Fishing and Hunting',
    '21': 'Mining, Quarrying, and Oil and Gas Extraction',
    '22': 'Utilities',
    '23': 'Construction',
    '31': 'Manufacturing',
    '32': 'Manufacturing',
    '33': 'Manufacturing',
    '42': 'Wholesale Trade',
    '44': 'Retail Trade',
    '45': 'Retail Trade',
    '48': 'Transportation and Warehousing',
    '49': 'Transportation and Warehousing',
    '51': 'Information',
    '52': 'Finance and Insurance',
    '53': 'Real Estate and Rental and Leasing',
    '54': 'Professional, Scientific, and Technical Services',
    '55': 'Management of Companies and Enterprises',
    '56': 'Administrative and Support and Waste Management and Remediation Services',
    '61': 'Educational Services',
    '62': 'Health Care and Social Assistance',
    '71': 'Arts, Entertainment, and Recreation',
    '72': 'Accommodation and Food Services',
    '81': 'Other Services (except Public Administration)',
    '92': 'Public Administration',
    # Add more NAICS codes and sectors as needed
}

In [ ]:
### in the NAICS column, only the first 2 digits are required to indicate the industry it is in.
df_adjusted['NAICS'] = df_adjusted['NAICS'].astype(str).str[:2]

<ipython-input-287-f486720030f4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adjusted['NAICS'] = df_adjusted['NAICS'].astype(str).str[:2]

In [ ]:
###adding a column to map industry to the number indicated above
df_adjusted['Industry'] = df_adjusted['NAICS'].map(naics_to_sector)

<ipython-input-288-625f299b1cfc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adjusted['Industry'] = df_adjusted['NAICS'].map(naics_to_sector)

In [ ]:
### Dropping original NAICS column as the data is I want is reflected in the industry column.
df_adjusted = df_adjusted.drop(columns='NAICS')

In [ ]:
### Starting with the Term Column indicating Loan Term I'll be breaking it up by dividing it into quartiles of the year.
### I'll start by adding a column to adjust the data where I want it adjusted.
df_adjusted['TermGroup'] = np.where(df_adjusted['Term']<=90,'Below 3 months',
                            np.where((df_adjusted['Term']>90) & (df_adjusted['Term']<=180), '3-6 months',
                            np.where((df_adjusted['Term']>180) & (df_adjusted['Term']<=365), '6-12 months', 'More Than a Year')))
display(df_adjusted[['Term', 'TermGroup']].sample(10))

        Term       TermGroup
818897    70  Below 3 months
518091   127      3-6 months
752879   240     6-12 months
284314   156      3-6 months
694876   120      3-6 months
10835     23  Below 3 months
823921    60  Below 3 months
128950    84  Below 3 months
605765   238     6-12 months
150674   180      3-6 months

In [ ]:
### Dropping Term Column as the Data I want is reflected in the column TermGroup
df_adjusted = df_adjusted.drop(columns='Term')

In [ ]:
### Filtering out Null values from LowDoc Columns
df_adjusted = df_adjusted[df_adjusted['LowDoc'].isin(['N','Y'])]

In [ ]:
### RevLineCr has alot of values not Y and N. I believe the 0 and T values indicate no and yes respectively. so I will be making the assumption and changing those values to N and Y.
df_adjusted['RevLineCr'].value_counts(dropna=False)

N      415075
0      256847
Y      199734
T       15179
NaN      4268
1          23
R          14
`          11
2           6
C           2
5           1
-           1
4           1
.           1
3           1
A           1
7           1
,           1
Q           1
Name: RevLineCr, dtype: int64

In [ ]:
df_adjusted['RevLineCr'] = df_adjusted['RevLineCr'].replace({'0': 'N', 'T': 'Y'})

In [ ]:
df_adjusted = df_adjusted[df_adjusted['RevLineCr'].isin(['N','Y'])]
display(df_adjusted['RevLineCr'].value_counts(dropna=False))

N    671922
Y    214913
Name: RevLineCr, dtype: int64

In [ ]:
### Dropping nulls from the columns I plan to categorize
df_adjusted.dropna(subset=['Bank' , 'BankState','City'], inplace=True)

In [ ]:
df_adjusted.shape

(885305, 15)

In [ ]:
df_adjusted_2 = df_adjusted.copy()

In [ ]:
count_bankst = df_adjusted['BankState'].value_counts().to_frame().reset_index()
count_bankst['index'] = count_bankst['index'].astype(str)

In [ ]:
count_bankst = count_bankst.rename(columns={'BankState': 'BankstCount'})
count_bankst.dtypes

index          object
BankstCount     int64
dtype: object

In [ ]:
df_adjusted_2 = df_adjusted_2.merge(count_bankst, left_on='BankState', right_on='index', how='left')

In [ ]:
df_adjusted_2['NewBankState'] = np.where(df_adjusted_2['BankstCount'] > 15, df_adjusted_2['BankState'], 'OTHER')

In [ ]:
df_adjusted_2.drop(['BankState', 'BankstCount', 'index'], axis=1, inplace=True)

In [ ]:
###Dropping nulls from Franchise Column
df_adjusted_2['IsFranchise'] = np.where(((df_adjusted_2['FranchiseCode']==1) | (df_adjusted_2['FranchiseCode']==0)), 'Y', 'N')

In [ ]:
df_adjusted_2.drop(columns='FranchiseCode', inplace=True)

In [ ]:
### Working on City Column
count_city = df_adjusted_2['City'].value_counts().to_frame().reset_index()
count_city.rename(columns={'City':'City_Count','index' : 'City'}, inplace=True)

In [ ]:
count_city[(count_city['City_Count']>25)&(count_city['City_Count']<=50)]

                     City  City_Count
2862  SOUTH RICHMOND HILL          50
2863              BRADLEY          50
2864        NEW BALTIMORE          50
2865             KANKAKEE          50
2866           CENTEREACH          50
...                   ...         ...
4596             OKMULGEE          26
4597          HOPE VALLEY          26
4598              BELZONI          26
4599       MACHESNEY PARK          26
4600     SOUTH CHARLESTON          26

[1739 rows x 2 columns]

In [ ]:
df_adjusted_2 = df_adjusted_2.merge(count_city, on='City')

In [ ]:
df_adjusted_2.shape

(885305, 16)

In [ ]:
df_adjusted_2['NewCity'] = np.where(df_adjusted_2['City_Count']>100, df_adjusted_2['City'], 'OTHER')
df_adjusted_2.drop(['City','City_Count'],axis=1, inplace=True)

In [ ]:
df_adjusted_3= df_adjusted_2.copy()

In [ ]:
### Working on Banks now
count_bank = df_adjusted_3['Bank'].value_counts().to_frame().reset_index()
count_bank = count_bank.rename(columns={'Bank': 'Bank_Count', 'index' : 'Bank'})

In [ ]:
df_adjusted_3 = df_adjusted_3.merge(count_bank, on='Bank')

In [ ]:
df_adjusted_3['NewBank'] = np.where(df_adjusted_3['Bank_Count']>5000, df_adjusted_3['Bank'], 'OTHER')

In [ ]:
df_adjusted_3['Bank'].value_counts(dropna=False)

BANK OF AMERICA NATL ASSOC        86329
WELLS FARGO BANK NATL ASSOC       62583
JPMORGAN CHASE BANK NATL ASSOC    47846
U.S. BANK NATIONAL ASSOCIATION    34697
CITIZENS BANK NATL ASSOC          33728
                                  ...
PEKIN COMMUNITY BANK                  1
RTC/MERCURY S&L                       1
DANVERS BANCORP, INC.                 1
FDIC/SNB BANK                         1
NORTHLAND AREA FCU                    1
Name: Bank, Length: 5791, dtype: int64

In [ ]:
df_adjusted_3.drop(columns=['Bank','Bank_Count'], axis=1, inplace=True)

In [ ]:
df_adjusted_3

,State,NoEmp,NewExist,CreateJob,RetainedJob,UrbanRural,RevLineCr,LowDoc,MIS_Status,Industry,TermGroup,NewBankState,IsFranchise,NewCity,NewBank
0,IN,4,2.0,0,0,0,N,Y,0,Retail Trade,Below 3 months,OH,Y,EVANSVILLE,FIFTH THIRD BANK
1,IN,3,2.0,0,0,0,N,Y,0,Construction,Below 3 months,OH,Y,EVANSVILLE,FIFTH THIRD BANK
2,IN,4,1.0,0,0,0,N,Y,1,Retail Trade,Below 3 months,OH,Y,EVANSVILLE,FIFTH THIRD BANK
3,IN,11,1.0,0,0,0,N,N,0,Unknown Sector,Below 3 months,OH,Y,EVANSVILLE,FIFTH THIRD BANK
4,IN,7,2.0,0,7,2,N,N,1,Retail Trade,Below 3 months,OH,Y,EVANSVILLE,FIFTH THIRD BANK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885300,KY,3,2.0,0,0,0,N,Y,0,Construction,Below 3 months,KY,Y,OTHER,OTHER
885301,KY,2,2.0,0,0,0,N,Y,0,Unknown Sector,Below 3 months,KY,Y,OTHER,OTHER
885302,NE,15,2.0,0,0,0,N,N,1,Unknown Sector,3-6 months,IL,Y,OTHER,OTHER
885303,GA,2,2.0,0,0,0,N,Y,0,Unknown Sector,3-6 months,GA,Y,OTHER,OTHER
885304,MI,6,1.0,0,0,2,N,N,1,Retail Trade,3-6 months,MI,Y,OTHER,OTHER

In [ ]:
df_adjusted_3.to_csv('SBA_CLEANED.csv', index=False)